<!DOCTYPE html>
<html>
<head>
  <title>AboutUs</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <script defer src="https://kit.fontawesome.com/54b37fef35.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="E:\sample\giftshopproject\public\css/discristyles.css">
 
</head>
<body >
   <div class="container-fluid">
       <h1 style="text-align: center; margin-bottom: 5%; background-color: silver;"> About Us</h1>
       <div class="row">
         <div class="col-12 col-md-6 margin0">
          <img class="aboutimg"  src="https://us.123rf.com/450wm/alisali/alisali1511/alisali151100011/48053504-beautiful-background-of-mystery-chest-with-light-miracle-on-wooden-background-with-place-for-text-cl.jpg?ver=6">
          
         </div>
         <div class="col-12 col-md-6 margin0">
          <h1 class="about">
            TREASURE <i class="fa fa-gift" aria-hidden="true"></i> BOX
          </h1>
          <br>
          <p style="margin: 0%; " class="about"> A wonderfull gift shop with all veriety of gifts</p>
         </div>
       </div>

        <div class="row" style="margin-top: 5%;">
            <div class="col-12 col-md-6 margin0 " >
               <p style="margin: -1%;" class="about">
                An About Us page helps your company make a good first impression, and is critical for building customer trust and loyalty. An About Us page should make sure to cover basic information about the store and its founders, explain the company's purpose and how it differs from the competition, and encourage discussion and interaction. Here are some free templates, samples, and example About Us pages to help your ecommerce store stand out from the crowd.
               </p>
            </div>

            <div class=" col-12 col-md-6 margin0">
               <img class="aboutimg"  src="https://us.123rf.com/450wm/alisali/alisali1511/alisali151100011/48053504-beautiful-background-of-mystery-chest-with-light-miracle-on-wooden-background-with-place-for-text-cl.jpg?ver=6">
            </div>
                  
         </div>
    </div>   
    <hr>  
</body>
<footer>
  <img style="width: 10%; border-radius: 25%; margin-left: 48%; margin-top: 2%;" src="https://as1.ftcdn.net/jpg/02/33/88/38/500_F_233883841_mfYiJpQFsQ3MSahXgCcBsZuEKMzDVnf7.jpg">
  <p style="text-align: center; font-family: cursive;">designed by : Simran Jain</p>
  <a href="" style="margin-left: 48%; color: grey;"><i class="fab fa-facebook"></i></a>
  <a href="" style=" color: grey;"><i class="fab fa-instagram"></i></a>
  <a href=""  style=" color: grey;"><i class="fab fa-linkedin"></i></a>
</footer>
</html>