<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/19bdd19522.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/cardsStyles.css">

    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    <%- include('partials/header.ejs') %>

        <div class="sidenav">
            <a id="addNewProductId" href="#">Add New Product</a>
            <a id="dashboardId" href="#">Dashboard</a>
            <a id="userdetailId" href="#">User Details</a>


            <!-- <button class="dropdown-btn" data-val="site_dd">Site
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container" id="site_dd">
                <a href="#">Banner Setup</a>
                <a href="#">Site setup</a>
                <a href="#">Site Sponsers</a>
            </div>
            <a href="">Logout</a> -->

        </div>

        <div class="main" id="mainDivBg">

            <!-- add new product -->
            <div class="container adminMainDiv" id="addDetailsParent">

                <div class="container">
                    <h3>ADD New Product</h3>
                </div>
                <div>
                    <div class="form-group">
                        <label for="usr">product_name:</label>
                        <input type="text" class="form-control" id="productName">
                    </div>
                    <div class="form-group">
                        <label for="usr">product_category:</label>
                        <input type="text" class="form-control" id="productCategory">
                    </div>
                    <div class="form-group">
                        <label for="usr">product_price:</label>
                        <input type="text" class="form-control" id="productPrice">
                    </div>
                    <div class="form-group">
                        <label for="comment">product_description:</label>
                        <textarea class="form-control" rows="5" id="productDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="usr"> product_fabric:</label>
                        <input type="text" class="form-control" id="productFabric">
                    </div>
                    <div class="form-group">
                        <label for="usr">product_color:</label>
                        <input type="text" class="form-control" id="productColor">
                    </div>
                    <div class="form-group">
                        <label for="usr">product_brand:</label>
                        <input type="text" class="form-control" id="productBrand">
                    </div>
                    <button type="button" id="adiminSubmitProductAdd" class="btn btn-primary btn-block">submit</button>
                </div>
            </div>

            <div class="container  adminMainDiv" id="productDetailsCard">
                <div class="row rowClass" id="dashboardparent">

                    <div class="col-lg-3 col-sm-6 col-md-4 col-12 cardClassCol">
                        <div class="container cardClass">
                            <img class="imageClass"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS85U9JkeZCqbcXLIvYXwrecHyvSnjFucFXow&usqp=CAU"
                                alt="">
                            <div class="headingDivClassCard">
                                <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt Stepping Into My
                                    Birthday Women's T-Shirt</h6>
                            </div>
                            <div>
                                <div class="priceTagPElementDiv">
                                    <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike> Rs.1999
                                    </p>
                                </div>
                                <div class="discountDiv">
                                    <p>30% off</p>
                                </div>
                            </div>
                            <div><i class="far fa-star starIconClass"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <span class="starsSpanClass">4.3 stars (234)</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="container  adminMainDiv" id="useDetailParent">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                      </tr>
                    </thead>
                    <tbody id="showinfo">
                      <tr>
                        <td>Larry</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="modal " id="imageModal" style=" z-index: 1051 ">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add Product Details</h4>
                            <button type="button" id="closeBtnImgPopUp" class="close"
                                data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form action="/admin/productImageSave" enctype="multipart/form-data" method="post">
                                <div class="form-group">
                                    <label for="usr">productId:</label>
                                    <input type="text" name="detailId" id="productId" class="form-control">
                                </div>
                                <div class="custom-file">
                                    <input type="file" required name="imageName" class="custom-file-input"
                                        id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose imageFile</label>
                                </div>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">

                        </div>

                    </div>
                </div>
            </div>
            <!-- end -->

            <div class="modal editDetailsClass" id="adminEditModal" style="display: none">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                            <i id="updateImage" class="fas fa-user-circle fa-10x"></i>

                            <h4 class="modal-title">Edit Admin Details</h4>
                            <button type="button" id="closeBtnImgPopUp1" class="close"
                                data-dismiss="modal">&times;</button>
                        </div>


                        <div class="modal-body">
                            <div class="form-group">
                                <label for="usr">product_name:</label>
                                <input type="text" class="form-control" id="productName1">
                            </div>
                            <div class="form-group">
                                <label for="usr">product_category:</label>
                                <input type="text" class="form-control" id="productCategory1">
                            </div>
                            <div class="form-group">
                                <label for="usr">product_price:</label>
                                <input type="text" class="form-control" id="productPrice1">
                            </div>
                            <div class="form-group">
                                <label for="comment">product_description:</label>
                                <textarea class="form-control" rows="5" id="productDescription1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="usr"> product_fabric:</label>
                                <input type="text" class="form-control" id="productFabric1">
                            </div>
                            <div class="form-group">
                                <label for="usr">product_color:</label>
                                <input type="text" class="form-control" id="productColor1">
                            </div>
                            <div class="form-group">
                                <label for="usr">product_brand:</label>
                                <input type="text" class="form-control" id="productBrand1">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" id="adiminSubmitProductAdd1"
                                class="btn btn-primary btn-block">submit</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <script src="js/ajax.js"></script>
        <script src="js/endpoints.js"></script>
        <script src="js/adminproductsadd.js"></script>
        <script src="js/userdetailsshow.js"></script>
        <script src="js/validations.js"></script>

</body>
<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    // $(".dropdown-btn").click(function(){
    //     console.log("hello");
    //     $(".dropdown-container").hide();
    //     let id = $(this).attr("data-val");
    //     let css =$(`#${id}`).css("display");
    //     console.log(css,id);
    //     if(css=="none"){
    //         $(`#${id}`).css("display","block");
    //     }
    //     else{
    //         $(`#${id}`).css("display","none");

    //     }
    // })

    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }


</script>

</html>