<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/19bdd19522.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/comman.css">
    <style>
        .descriptionImg2 {
            height: 512px;
        }
    </style>

</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="container mt_6" id="showProductDetail">
            <!-- <div class="row">
                <div class="col-sm-6 col-12">
                    <div>
                        <img class="d-block w-100 descriptionImg2 "
                            src="https://images.unsplash.com/photo-1548036328-c9fa89d128fa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmFnfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                            alt="Second slide">
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <p class="headingText textleft">
                        Chanderi Lurex Mix & Match
                    </p>
                    <p class="textStyling textleft">
                        ₹1,250
                    </p>
                    <p class="textStyling textleft">
                        Product Code: CLMM01
                    </p>
                    <p class="textStyling textleft">
                        Presenting our New Mix & Match Series - Chanderi Lurex Mix & Match. Our soft Chanderi Lurex
                        Fabric Top with Cotton Bottom are perfect for this summer season. We have-selected these Mix &
                        Match fabrics for your casual attires.
                        Colour - Yellow, Red
                    </p>
                    <hr>
                    <p class="textStyling textleft font_weight">
                        1 PCS LEFT IN STOCK
                    </p>
                    <div class="container exploreBtnDivClass">
                        <button class="btn btnStyling">Add To Cart</button>
                        <button class="btn btnStyling">Buy Now</button>
                    </div>
                    <hr>
                    <p class="textStyling textleft font_weight">
                        <span><i class="fa fa-heart"></i>Add To Wishlist</span>
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p class="textStyling textleft">
                                shipping:
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="textStyling textleft">

                                Delivery in 7-10 business days
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p class="textStyling textleft">
                                shipping:
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="textStyling textleft">

                                Delivery in 7-10 business days
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p class="textStyling textleft">
                                shipping:
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="textStyling textleft">

                                Delivery in 7-10 business days
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p class="textStyling textleft">
                                shipping:
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="textStyling textleft">

                                Delivery in 7-10 business days
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p class="textStyling textleft">
                                shipping:
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="textStyling textleft">

                                Delivery in 7-10 business days
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p class="textStyling textleft">
                                shipping:
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="textStyling textleft">
                                Gentle hand wash separately in cold water with mild liquid detergent.
                                Excess natural colours may bleed when
                                washed for the first time. Avoid soaking for too long.
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p class="textStyling textleft">
                                shipping:
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="textStyling textleft">
                                Gentle hand wash separately in cold water with mild liquid detergent.
                                Excess natural colours may bleed when
                                washed for the first time. Avoid soaking for too long.
                            </p>
                        </div>
                    </div>
                    <hr>

                </div>
            </div> -->
        </div>


        <script src="../js/ajax.js"></script>
        <script src="../js/endpoints.js"></script>
        <script src="../js/description.js"></script>
        <script src="../js/comman.js"></script>
        <script src="../js/validations.js"></script>
</body>

</html>