<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <form action="" id="imgUploadId" method="POST">
        <div class="form-group">
            <label>Image</label>
            <input type="file" name="imageName" id="pImage">
        </div>
        <!-- <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                product type
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">photoframes</a>
                <a class="dropdown-item" href="#">handbags</a>
                <a class="dropdown-item" href="#">perfume</a>
            </div>
        </div>
        <div class="form-group">
            <label for="usr">product Name:</label>
            <input type="text" class="form-control" id="pName" name="pName">
        </div>
        <div class="form-group">
            <label for="pwd"> Price:</label>
            <input type="text" class="form-control" id="pPrice" name="pPrice">
        </div>
        <div>
            <label for="usr">discount:</label>
            <input type="text" class="form-control" id="pDiscount" name="pDiscount">
        </div>
        <div class="form-group">
            <label for="pwd">rating:</label>
            <input type="text" class="form-control" id="pRating" name="pRating">
        </div>
        <div class="form-group">
            <label for="pwd">description:</label>
            <input type="text" class="form-control" id="pDescription" name="pDescription">
        </div>
        <div class="form-group">
            <label for="pwd">shape:</label>
            <input type="text" class="form-control" id="pShape" name="pShape">
        </div>
        <div class="form-group">
            <label for="pwd">weight:</label>
            <input type="text" class="form-control" id="pWeight" name="pWeight">
        </div> -->

        <button type="submit" >submit</button>
    </form>
    
    
    <script src="../js/admin.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/endpoint.js"></script>

</body>
</html>