<%- include('partials/pageHeaders.ejs') %>
    <link rel="stylesheet" href="./css/cardsStyles.css">

    <link rel="stylesheet" href="./css/admin.css">



    <div class="container newDesBgClass">
        <div class="row">
            <div class="col-sm-4 col-12">
                <div class="container colStyle1">
                    <div class="row ">
                        <div class="col-12">
                            <div class="container" style="background-color: moccasin; height: 27rem;
                            margin-top: 19px; z-index: 2;">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3 col-6 ">
                            <div class="container"
                                style="background-color: moccasin; height: 8rem; z-index: 2; margin-top: 40px;">
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="container"
                                style="background-color: moccasin; height: 8rem; z-index: 2; margin-top: 40px;">
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="container"
                                style="background-color: moccasin; height: 8rem; z-index: 2; margin-top: 40px;">
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="container"
                                style="background-color: moccasin; height: 8rem; z-index: 2; margin-top: 40px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-12">
                <div class="container colStyle2">
                    <div class="row">
                        <div class="col-12">
                            <div class="container"
                                style="background-color: moccasin; height: 8rem; z-index: 2; margin-top: 19px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="container"
                                style="background-color: moccasin; height: 17rem; z-index: 2; margin-top: 19px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="container"
                                style="background-color: moccasin; height: 6rem; z-index: 2; margin-top: 19px;">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="container"
                                style="background-color: moccasin; height: 6rem; z-index: 2; margin-top: 19px;">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="container"
                                style="background-color: moccasin; height: 6rem; z-index: 2; margin-top: 19px;">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="container"
                                style="background-color: moccasin; height: 6rem; z-index: 2; margin-top: 19px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="container"
                                style="background-color: moccasin; height: 3rem; z-index: 2; margin-top: 19px;">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="container"
                                style="background-color: moccasin; height: 3rem; z-index: 2; margin-top: 19px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="height: 5rem; border: solid; background-color: white; border-color: white;">
        <p class="textstyling" style="margin: 3% 26% 0% 23%;
        font-size: 1.5rem;
        font-family: system-ui;
        color: tomato;
        font-weight: bold;">
            Similar Gift Recommendations
        </p>
    </div>


    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="cardsAdminPopUP">
                    <div class="row rowClass">
                        <div class="col-md-4 col-sm-6 col-12 cardClassCol">
                            <div class="container cardClass">
                                <img class="imageClass"
                                    src="https://image.shutterstock.com/image-photo/3d-wallpaper-beautiful-flower-background-260nw-1385636237.jpg"
                                    alt="">
                                <div class="headingDivClassCard">
                                    <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt</h6>
                                </div>
                                <div>
                                    <div class="priceTagPElementDiv">
                                        <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike>
                                            Rs.1999</p>
                                    </div>
                                    <div class="discountDiv">
                                        <p>30% off</p>
                                    </div>
                                </div>
                                <div><i class="far fa-star starIconClass"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <span class="starsSpanClass">4.3 stars (234)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 cardClassCol">
                            <div class="container cardClass">
                                <img class="imageClass"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS85U9JkeZCqbcXLIvYXwrecHyvSnjFucFXow&usqp=CAU"
                                    alt="">
                                <div class="headingDivClassCard">
                                    <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt Stepping Into
                                        My
                                        Birthday Women's T-Shirt</h6>
                                </div>
                                <div>
                                    <div class="priceTagPElementDiv">
                                        <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike>
                                            Rs.1999</p>
                                    </div>
                                    <div class="discountDiv">
                                        <p>30% off</p>
                                    </div>
                                </div>
                                <div><i class="far fa-star starIconClass"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <span class="starsSpanClass">4.3 stars (234)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 cardClassCol">
                            <div class="container cardClass">
                                <img class="imageClass"
                                    src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQus9rtXGG06QBn-Q13zk5oWKr-ryngXbTW-g&usqp=CAU"
                                    alt="">
                                <div class="headingDivClassCard">
                                    <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt</h6>
                                </div>
                                <div>
                                    <div class="priceTagPElementDiv">
                                        <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike>
                                            Rs.1999</p>
                                    </div>
                                    <div class="discountDiv">
                                        <p>30% off</p>
                                    </div>
                                </div>
                                <div><i class="far fa-star starIconClass"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <span class="starsSpanClass">4.3 stars (234)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div id="cardsAdminPopUP">
                    <div class="row rowClass">
                        <div class="col-md-4 col-sm-6 col-12 cardClassCol">
                            <div class="container cardClass">
                                <img class="imageClass"
                                    src="https://image.shutterstock.com/image-photo/3d-wallpaper-beautiful-flower-background-260nw-1385636237.jpg"
                                    alt="">
                                <div class="headingDivClassCard">
                                    <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt</h6>
                                </div>
                                <div>
                                    <div class="priceTagPElementDiv">
                                        <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike>
                                            Rs.1999</p>
                                    </div>
                                    <div class="discountDiv">
                                        <p>30% off</p>
                                    </div>
                                </div>
                                <div><i class="far fa-star starIconClass"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <span class="starsSpanClass">4.3 stars (234)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 cardClassCol">
                            <div class="container cardClass">
                                <img class="imageClass"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS85U9JkeZCqbcXLIvYXwrecHyvSnjFucFXow&usqp=CAU"
                                    alt="">
                                <div class="headingDivClassCard">
                                    <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt Stepping Into
                                        My
                                        Birthday Women's T-Shirt</h6>
                                </div>
                                <div>
                                    <div class="priceTagPElementDiv">
                                        <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike>
                                            Rs.1999</p>
                                    </div>
                                    <div class="discountDiv">
                                        <p>30% off</p>
                                    </div>
                                </div>
                                <div><i class="far fa-star starIconClass"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <span class="starsSpanClass">4.3 stars (234)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 cardClassCol">
                            <div class="container cardClass">
                                <img class="imageClass"
                                    src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQus9rtXGG06QBn-Q13zk5oWKr-ryngXbTW-g&usqp=CAU"
                                    alt="">
                                <div class="headingDivClassCard">
                                    <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt</h6>
                                </div>
                                <div>
                                    <div class="priceTagPElementDiv">
                                        <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike>
                                            Rs.1999</p>
                                    </div>
                                    <div class="discountDiv">
                                        <p>30% off</p>
                                    </div>
                                </div>
                                <div><i class="far fa-star starIconClass"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <span class="starsSpanClass">4.3 stars (234)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            </div>
            <div class="carousel-item">
                <div id="cardsAdminPopUP">
                    <div class="row rowClass">
                        <div class="col-md-4 col-sm-6 col-12 cardClassCol">
                            <div class="container cardClass">
                                <img class="imageClass"
                                    src="https://image.shutterstock.com/image-photo/3d-wallpaper-beautiful-flower-background-260nw-1385636237.jpg"
                                    alt="">
                                <div class="headingDivClassCard">
                                    <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt</h6>
                                </div>
                                <div>
                                    <div class="priceTagPElementDiv">
                                        <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike>
                                            Rs.1999</p>
                                    </div>
                                    <div class="discountDiv">
                                        <p>30% off</p>
                                    </div>
                                </div>
                                <div><i class="far fa-star starIconClass"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <span class="starsSpanClass">4.3 stars (234)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 cardClassCol">
                            <div class="container cardClass">
                                <img class="imageClass"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS85U9JkeZCqbcXLIvYXwrecHyvSnjFucFXow&usqp=CAU"
                                    alt="">
                                <div class="headingDivClassCard">
                                    <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt Stepping Into
                                        My
                                        Birthday Women's T-Shirt</h6>
                                </div>
                                <div>
                                    <div class="priceTagPElementDiv">
                                        <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike>
                                            Rs.1999</p>
                                    </div>
                                    <div class="discountDiv">
                                        <p>30% off</p>
                                    </div>
                                </div>
                                <div><i class="far fa-star starIconClass"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <span class="starsSpanClass">4.3 stars (234)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 cardClassCol">
                            <div class="container cardClass">
                                <img class="imageClass"
                                    src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQus9rtXGG06QBn-Q13zk5oWKr-ryngXbTW-g&usqp=CAU"
                                    alt="">
                                <div class="headingDivClassCard">
                                    <h6 class="cardHeadingClass">Stepping Into My Birthday Women's T-Shirt</h6>
                                </div>
                                <div>
                                    <div class="priceTagPElementDiv">
                                        <p class="priceTagPElement"><strike class="StrikeThrough">Rs. 2300</strike>
                                            Rs.1999</p>
                                    </div>
                                    <div class="discountDiv">
                                        <p>30% off</p>
                                    </div>
                                </div>
                                <div><i class="far fa-star starIconClass"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <span class="starsSpanClass">4.3 stars (234)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <script src="../js/newdescription.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/endpoint.js"></script>


    </body>

    </html>